*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#f0f4f8;
    min-height:100vh;
}

.navbar{
    background:linear-gradient(135deg,#3b82f6,#1d4ed8);
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.navbar-brand{
    font-size:22px;
    font-weight:700;
}

.attendance-card{
    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

h2{
    color:#1e293b;

    font-weight:700;

    margin-bottom:30px;
}

.table{
    margin-bottom:0;
}

.table thead{
    background:#3b82f6;

    color:white;
}

.table th{
    border:none;

    text-align:center;
}

.table td{
    text-align:center;

    vertical-align:middle;

    color:#64748b;

    padding:18px;
}

.table tbody tr{
    transition:.3s;
}

.table tbody tr:hover{
    background:#eff6ff;
}

.btn-light{
    border-radius:12px;

    font-weight:600;
}